body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(51, 44, 44);
    background: linear-gradient(to top right, rgb(220, 13, 6), rgb(255, 145, 0), rgb(255, 196, 0));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

h1 {
    color: rgb(224, 115, 13);
    text-transform: uppercase;
    height: auto;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center; 
    text-decoration: none;
}

header {
    text-align:center;
    height: 100px;
    width: 100%;
    padding: 20px;
    margin: 0px;
    left: 0px;
    position: fixed;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
    box-shadow: 0px 0px 20px 7px rgb(255, 115, 0);
}

.sobre {
    margin-left: 15%;
    border-radius: 5%;
    height: auto;
    width: 60%;
    margin-left: 0%;
    box-shadow: 0px 0px 20px 7px rgb(0, 0, 0);
    border-radius: 10%;
    display: inline-flex;
    background:linear-gradient(to bottom right,rgb(226, 13, 6), rgb(255, 145, 0), rgb(226, 13, 6));
}

.h2sobre {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    height: auto;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center; 
    text-decoration: none;
}
    

* {
    scroll-behavior: smooth;
}